# Nice history binding
# See: https://askubuntu.com/a/59855

# arrow up
"\e[A":history-search-backward
# arrow down
"\e[B":history-search-forward

"\e\e[D": backward-word
"\e\e[C": forward-word

"\e\e-H": shell-backward-kill-word

set completion-ignore-case On
