if lpass status | grep "Not logged in" > /dev/null; then
  echo "Please login into lastpass first"
  exit 1
fi

export TOOLSMITHS_API_KEY="$(lpass show "Shared-PKS Telemetry/Toolsmiths API Key" --notes)"
